{{#if user.image}}
<img src="{{user.image}}" alt="{{user.username}} image"/>
{{else}}
<img src="https://media.giphy.com/media/3o7rc0qU6m5hneMsuc/giphy.gif" alt="{{user.username}} image"/>
{{/if}}
<h2>{{user.username}}</h2>
<a href="/user/update">Update your data</a>
<a href="/user/delete">Delete your account</a>

{{!-- Statistics from user --}}

<h3>Similar users</h3>
<ul>
{{#each similarUsers}}
<li><a href="/user/{{this._id}}">{{this.username}}</a></li>
{{/each}}
</ul>

<h3>Connections</h3>