

{{#if user.image}}
<img src="{{user.image}}" alt="{{user.username}} image"/>

{{else}}
<img src="https://media.giphy.com/media/3o7rc0qU6m5hneMsuc/giphy.gif" alt="{{user.username}} image"/>
<a href="">Change profile picture</a>
{{/if}}
<h3>{{user.username}}</h3>
<a href="/user/update">Update your data</a>
<a href="/user/delete">Delete your account</a>


<h3>Your statistics</h3>
{{!-- Statistics from user --}}

<h3>Similar users</h3>
<ul>
{{#each reviewsOfAllUsers}}
<li><a href="/user/{{this._id}}">{{this.username}}</a></li>
{{/each}}
{{#each similarityScores}}
  {{this.similarity}}
  {{this.id}}
{{/each}}
</ul>

<h3>Connections</h3>